if SHIELD_WOODY_LEFT

config ZMK_KEYBOARD_NAME
    default "Woody Left"

config ZMK_WOODY_ROLE_CENTRAL
    default y

endif

if SHIELD_WOODY_LEFT || SHIELD_WOODY_RIGHT

config ZMK_WOODY
    default y

endif